<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.com.xgit.parts.auth.account.dao.mapper.ThirdpartyOauthMapper">

    <resultMap id="BaseResultMap" type="cn.com.xgit.parts.auth.account.dao.entity.ThirdpartyOauthDO">
        <result property="id" jdbcType="INTEGER" column="id"/>
        <result property="appId" jdbcType="VARCHAR" column="app_id"/>
        <result property="userId" jdbcType="VARCHAR" column="user_id"/>
        <result property="thirdpartyId" jdbcType="VARCHAR" column="thirdparty_id"/>
        <result property="bindType" jdbcType="TINYINT" column="bind_type"/>
        <result property="metaData" jdbcType="VARCHAR" column="meta_data"/>
        <result property="remark" jdbcType="VARCHAR" column="remark"/>
        <result property="bindStatus" jdbcType="TINYINT" column="bind_status"/>
        <result property="bindTime" jdbcType="TIMESTAMP" column="bind_time"/>
        <result property="updateTime" jdbcType="TIMESTAMP" column="update_time"/>
    </resultMap>

    <sql id="Base_Column_List">
`id`,`app_id`,`user_id`,`thirdparty_id`,`bind_type`,`meta_data`,`remark`,`bind_status`,`bind_time`,`update_time`    </sql>

	<select id="item" resultMap="BaseResultMap">
      select
	  <include refid="Base_Column_List" />
      from IUS_THIRDPARTY_OAUTH where id = #{id}
	</select>

	<select id="itemByThirdpartyId" resultMap="BaseResultMap" parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from IUS_THIRDPARTY_OAUTH where thirdparty_id = #{thirdpartyId}
	</select>

	<select id="listBindedByUserId" resultMap="BaseResultMap" parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from IUS_THIRDPARTY_OAUTH
		where 1=1
		and user_id = #{userId}
		and bind_status = '1'
	</select>

	<select id="listBindedByThirdpartyId" resultMap="BaseResultMap" parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from IUS_THIRDPARTY_OAUTH
		where 1=1
		and thirdparty_id = #{thirdpartyId}
		and bind_status = '1'
	</select>

	<select id="list" resultMap="BaseResultMap">
      select
	  <include refid="Base_Column_List" />
      from IUS_THIRDPARTY_OAUTH
	  where 1=1
	</select>
	
	<insert id="insert" parameterType="cn.com.xgit.parts.auth.account.dao.entity.ThirdpartyOauthDO" useGeneratedKeys="true" keyProperty="id">
		insert into IUS_THIRDPARTY_OAUTH
        <trim prefix="(" suffix=")" suffixOverrides=",">
		<if test="appId != null">`app_id`,
</if>
		<if test="userId != null">`user_id`,
</if>
		<if test="thirdpartyId != null">`thirdparty_id`,
</if>
		<if test="bindType != null">`bind_type`,
</if>
		<if test="metaData != null">`meta_data`,
</if>
		<if test="remark != null">`remark`,
</if>
		<if test="bindStatus != null">`bind_status`,
</if>
		<if test="bindTime != null">`bind_time`,
</if>
		<if test="updateTime != null">`update_time`,
</if>
	        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
		<if test="appId != null">#{appId},</if>
		<if test="userId != null">#{userId},</if>
		<if test="thirdpartyId != null">#{thirdpartyId},</if>
		<if test="bindType != null">#{bindType},</if>
		<if test="metaData != null">#{metaData},</if>
		<if test="remark != null">#{remark},</if>
		<if test="bindStatus != null">#{bindStatus},</if>
		<if test="bindTime != null">#{bindTime},</if>
		<if test="updateTime != null">#{updateTime},</if>
	        </trim>
	</insert>
	 
	<update id="update" parameterType="cn.com.xgit.parts.auth.account.dao.entity.ThirdpartyOauthDO">
		update IUS_THIRDPARTY_OAUTH
		<set>
		<if test="appId != null">`app_id` = #{appId}, </if>
		<if test="userId != null">`user_id` = #{userId}, </if>
		<if test="thirdpartyId != null">`thirdparty_id` = #{thirdpartyId}, </if>
		<if test="bindType != null">`bind_type` = #{bindType}, </if>
		<if test="metaData != null">`meta_data` = #{metaData}, </if>
		<if test="remark != null">`remark` = #{remark}, </if>
		<if test="bindStatus != null">`bind_status` = #{bindStatus}, </if>
		<if test="bindTime != null">`bind_time` = #{bindTime}, </if>
		<if test="updateTime != null">`update_time` = #{updateTime}</if>
		</set>
		where id = #{id}
	</update>
</mapper>
