<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.xgit.parts.auth.account.dao.mapper.MenuMapper">
  <resultMap id="BaseResultMap" type="cn.com.xgit.parts.auth.account.dao.entity.MenuDO">
    <id column="id" jdbcType="DECIMAL" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="parent_id" jdbcType="DECIMAL" property="parentId" />
    <result column="seq" jdbcType="DECIMAL" property="seq" />
    <result column="icon" jdbcType="VARCHAR" property="icon" />
    <result column="state" jdbcType="VARCHAR" property="state" />
    <result column="show_flag" jdbcType="DECIMAL" property="showFlag" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="channel" jdbcType="DECIMAL" property="channel" />
    <result column="leaf" jdbcType="DECIMAL" property="leaf" />
  </resultMap>

  <resultMap id="BaseAuthResultMap" type="cn.com.xgit.parts.auth.account.dao.entity.AuthDO">
    <id column="AUTH_ID" jdbcType="DECIMAL" property="authId" />
    <result column="AUTH_NAME" jdbcType="VARCHAR" property="authName" />
    <result column="AUTH_DESC" jdbcType="VARCHAR" property="authDesc" />
    <result column="MENU_ID" jdbcType="DECIMAL" property="menuId" />
  </resultMap>

  <sql id="Base_Column_List">
    id, name, code, parent_id, seq, icon, state, show_flag, url, channel, leaf
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from IUS_MENU
    where id = #{id,jdbcType=DECIMAL} and show_flag = 1
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from IUS_MENU
    where id = #{id,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="cn.com.xgit.parts.auth.account.dao.entity.MenuDO">
    insert into IUS_MENU (id, name, code, 
      parent_id, seq, icon, 
      state, show_flag, url, 
      channel, leaf)
    values (#{id,jdbcType=DECIMAL}, #{name,jdbcType=VARCHAR}, #{code,jdbcType=VARCHAR}, 
      #{parentId,jdbcType=DECIMAL}, #{seq,jdbcType=DECIMAL}, #{icon,jdbcType=VARCHAR}, 
      #{state,jdbcType=VARCHAR}, #{showFlag,jdbcType=DECIMAL}, #{url,jdbcType=VARCHAR}, 
      #{channel,jdbcType=DECIMAL}, #{leaf,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="cn.com.xgit.parts.auth.account.dao.entity.MenuDO">
    insert into IUS_MENU
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="code != null">
        code,
      </if>
      <if test="parentId != null">
        parent_id,
      </if>
      <if test="seq != null">
        seq,
      </if>
      <if test="icon != null">
        icon,
      </if>
      <if test="state != null">
        state,
      </if>
      <if test="showFlag != null">
        show_flag,
      </if>
      <if test="url != null">
        url,
      </if>
      <if test="channel != null">
        channel,
      </if>
      <if test="leaf != null">
        leaf
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null">
        #{parentId,jdbcType=DECIMAL},
      </if>
      <if test="seq != null">
        #{seq,jdbcType=DECIMAL},
      </if>
      <if test="icon != null">
        #{icon,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        #{state,jdbcType=VARCHAR},
      </if>
      <if test="showFlag != null">
        #{showFlag,jdbcType=DECIMAL},
      </if>
      <if test="url != null">
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="channel != null">
        #{channel,jdbcType=DECIMAL},
      </if>
      <if test="leaf != null">
        #{leaf,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.com.xgit.parts.auth.account.dao.entity.MenuDO">
    update IUS_MENU
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="code != null">
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null">
        parent_id = #{parentId,jdbcType=DECIMAL},
      </if>
      <if test="seq != null">
        seq = #{seq,jdbcType=DECIMAL},
      </if>
      <if test="icon != null">
        icon = #{icon,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        state = #{state,jdbcType=VARCHAR},
      </if>
      <if test="showFlag != null">
        show_flag = #{showFlag,jdbcType=DECIMAL},
      </if>
      <if test="url != null">
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="channel != null">
        channel = #{channel,jdbcType=DECIMAL},
      </if>
      <if test="leaf != null">
        leaf = #{leaf,jdbcType=DECIMAL},
      </if>
    </set>
    where id = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.com.xgit.parts.auth.account.dao.entity.MenuDO">
    update IUS_MENU
    set name = #{name,jdbcType=VARCHAR},
      code = #{code,jdbcType=VARCHAR},
      parent_id = #{parentId,jdbcType=DECIMAL},
      seq = #{seq,jdbcType=DECIMAL},
      icon = #{icon,jdbcType=VARCHAR},
      state = #{state,jdbcType=VARCHAR},
      show_flag = #{showFlag,jdbcType=DECIMAL},
      url = #{url,jdbcType=VARCHAR},
      channel = #{channel,jdbcType=DECIMAL},
      leaf = #{leaf,jdbcType=DECIMAL}
    where id = #{id,jdbcType=DECIMAL}
  </update>
  <select id="selectByMenuIds" parameterType="List" resultType="List">
    select
      <include refid="Base_Column_List" />
    from IUS_MENU
    where id in
    <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
      #{item}
    </foreach>
    AND show_flag = 1
    ORDER BY parent_id,seq
  </select>

  <select id="selectMenus" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from IUS_MENU
    where channel = #{channel,jdbcType=DECIMAL}
    <if test="all != true">
    and show_flag = 1
    </if>
    ORDER BY parent_id,seq
  </select>

  <select id="getParentList" resultMap="BaseResultMap">
      select
      <include refid="Base_Column_List" />
      from IUS_MENU
      where parent_id = 0
    AND show_flag = 1
    ORDER BY parent_id,seq
  </select>

  <select id="getChildList" parameterType="java.lang.Integer" resultMap="BaseResultMap">
      select <include refid="Base_Column_List" />
      from IUS_MENU where parent_id =#{parentId}  AND show_flag = 1 ORDER BY seq
  </select>
  <select id="getAllList" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from IUS_MENU
    where 1=1
    AND show_flag = 1
    ORDER BY parent_id,seq
  </select>
    <select id="getDisplayedList" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from IUS_MENU where show_flag= 1
      and site = #{site}
      ORDER BY parent_id,seq
    </select>

  <select id="getParentListByRole" parameterType="cn.com.xgit.parts.auth.account.dao.entity.RoleDO" resultMap="BaseResultMap">
    SELECT <include refid="Base_Column_List"/>
    FROM IUS_MENU
    where parent_id IN (select MENU_ID from IUS_ROLE_MENU where ROLE_ID = #{id})
    AND show_flag = 1
  </select>
  <select id="getChildListByRole" parameterType="cn.com.xgit.parts.auth.account.dao.entity.RoleDO" resultMap="BaseResultMap">
    SELECT <include refid="Base_Column_List"/>
    FROM IUS_MENU
    where id IN (select MENU_ID from IUS_ROLE_MENU where ROLE_ID = #{id})
    and AND show_flag = 1
  </select>

  <select id="getChildrenBySite" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" />
    from IUS_MENU where parent_id =#{parentId} and show_flag = 1  and site =#{site}   ORDER BY seq
  </select>

  <select id="queryListMenuForConfig" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" />
    from IUS_MENU where parent_id =#{parentId}
      and show_flag = 1
      and site =#{site}
    ORDER BY seq
  </select>

  <select id="checkIsExitChild" parameterType="java.lang.Integer" resultType="java.lang.Integer">
      select count(1) from ius_menu where parent_id =#{parentId} AND show_flag = 1
  </select>
  <select id="listDisplayMenuId" resultType="java.lang.Integer">
      select ID FROM  ius_menu where show_flag = 1 ORDER BY parent_id,seq
  </select>

  <select id="selectAuthListByMenu" parameterType="java.lang.Integer" resultMap="BaseAuthResultMap">
    select A.AUTH_ID, T.AUTH_NAME, T.AUTH_DESC,A.MENU_ID
    from IUS_AUTH T, IUS_MENU_AUTH A
    where T.AUTH_ID = A.AUTH_ID
    AND A.STATUS = 0
    AND A.MENU_ID = #{menuId ,jdbcType=DECIMAL}
  </select>


  <select id="selectAuthListByMenuIds"  resultMap="BaseAuthResultMap">
    select A.AUTH_ID, T.AUTH_NAME, T.AUTH_DESC,A.MENU_ID
    from IUS_AUTH T, IUS_MENU_AUTH A
    where T.AUTH_ID = A.AUTH_ID
    AND A.STATUS = 0
    AND A.MENU_ID  in
    <foreach collection="menuList" item="menuId" separator="," open="(" close=")">
      #{menuId ,jdbcType=DECIMAL}
    </foreach>
  </select>

  <!--根据角色查询权限集合-->
  <select id="selectAuthListByRole" parameterType="java.lang.String" resultMap="BaseAuthResultMap">
    select A.AUTH_ID, T.AUTH_NAME, T.AUTH_DESC
      from IUS_AUTH T, Ius_Role_Auth A
     where T.AUTH_ID = A.AUTH_ID
       AND A.STATUS = 0
       AND A.ROLE_ID =  #{roleId ,jdbcType=VARCHAR}
  </select>

  <select id="getAuthIdByMenu" parameterType="java.lang.Integer" resultType="java.lang.Integer">
     select A.AUTH_ID
    from  IUS_MENU_AUTH A
    where 1=1
    AND A.STATUS = 0
    AND A.MENU_ID = #{menuId ,jdbcType=DECIMAL}
    LIMIT 1
  </select>

  <select id="selectBySite" parameterType="java.lang.Integer" resultType="java.lang.Integer">
     select ID FROM  ius_menu where show_flag = 1 and site=#{site ,jdbcType=DECIMAL} ORDER BY parent_id,seq
  </select>
  
  <select id="listMenus" parameterType="com.xgit.bj.auth.VO.MenuConditionVO" resultMap="BaseResultMap">
      select
      <include refid="Base_Column_List"/>
      from ius_menu
      where 1=1
      <if test="parentId != null">
        and parent_id = #{parentId,jdbcType=DECIMAL}
      </if>
      <if test="leaf != null">
        and leaf = #{leaf,jdbcType=DECIMAL}
      </if>
      <if test="site !=null">
        and site = #{site,jdbcType=DECIMAL}
      </if>
      order by seq
  </select>
  
  <select id="getById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
      select
      <include refid="Base_Column_List"/>
      from ius_menu
      where id = #{id,jdbcType=DECIMAL}
  </select>
  
  <select id="getMaxId" resultType="java.lang.Integer">
      select max(id) from ius_menu
  </select>
  
  <select id="getCodeBySiteAndChannel" parameterType="java.lang.Integer" resultMap="BaseResultMap">
      select 
      <include refid="Base_Column_List"/>
      from ius_menu
      where 1=1
      <if test="site !=null">
        and site = #{site,jdbcType=DECIMAL}
      </if>
      <if test="channel !=null">
        and channel = #{channel,jdbcType=DECIMAL}
      </if>
  </select>
  
</mapper>
