<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.xgit.parts.auth.account.dao.mapper.RoleMenuMapper">
  <resultMap id="BaseResultMap" type="cn.com.xgit.parts.auth.account.dao.entity.RoleMenuDO">
    <result column="role_id" jdbcType="VARCHAR" property="roleId" />
    <result column="menu_id" jdbcType="DECIMAL" property="menuId" />
    <result column="channel" jdbcType="DECIMAL" property="channel" />
  </resultMap>
  <insert id="insert" parameterType="cn.com.xgit.parts.auth.account.dao.entity.RoleMenuDO">
    insert into IUS_ROLE_MENU (role_id, menu_id, channel
      )
    values (#{roleId,jdbcType=VARCHAR}, #{menuId,jdbcType=DECIMAL}, #{channel,jdbcType=DECIMAL}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.com.xgit.parts.auth.account.dao.entity.RoleMenuDO">
    insert into IUS_ROLE_MENU
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="roleId != null">
        role_id,
      </if>
      <if test="menuId != null">
        menu_id,
      </if>
      <if test="channel != null">
        channel,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="roleId != null">
        #{roleId,jdbcType=VARCHAR},
      </if>
      <if test="menuId != null">
        #{menuId,jdbcType=DECIMAL},
      </if>
      <if test="channel != null">
        #{channel,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>

  <delete id="deleteMenu" parameterType="java.lang.String">
      delete from IUS_ROLE_MENU where role_id =#{roleId}
  </delete>

  <select id="getMenuByRoleId" parameterType="java.lang.String" resultType="java.lang.Integer">
      select menu_id from IUS_ROLE_MENU where role_id =#{roleId}
  </select>

  <select id="getAuthByRoleId" parameterType="java.lang.String" resultType="java.lang.Integer">
      select auth_id from ius_role_auth where role_id =#{roleId} and status = 0
  </select>

  <select id="getMenuIdsByRoleIds" parameterType="java.util.List" resultType="java.lang.Integer">
    select distinct menu_id from ius_role_menu where role_id in
    <foreach collection="list" item="id" index="index" open="(" close=")" separator=",">
      #{id}
    </foreach>
  </select>
  
  <select id="getCountByMenuId" parameterType="java.lang.Integer" resultType="java.lang.Integer">
    select count(*) from ius_role_menu where menu_id = #{menuId,jdbcType=DECIMAL}
  </select>

</mapper>
