<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.xgit.parts.auth.account.dao.mapper.sys.SysAuthsMapper">
    <resultMap id="BaseResultMap" type="cn.com.xgit.parts.auth.account.dao.entity.sys.SysAuthsDO">
        <result column="ID" property="id" jdbcType="INTEGER"/>
        <result column="NAME" property="name" jdbcType="VARCHAR"/>
        <result column="CODE" property="code" jdbcType="VARCHAR"/>
        <result column="PARENT_ID" property="parentId" jdbcType="INTEGER"/>
        <result column="SEQ" property="seq" jdbcType="INTEGER"/>
        <result column="ICON" property="icon" jdbcType="VARCHAR"/>
        <result column="SHOW_FLAG" property="showFlag" jdbcType="INTEGER"/>
        <result column="URL" property="url" jdbcType="VARCHAR"/>
        <result column="CHANNEL" property="channel" jdbcType="INTEGER"/>
        <result column="LEAF" property="leaf" jdbcType="INTEGER"/>
        <result column="TYPE" property="type" jdbcType="INTEGER"/>
        <result column="CREATE_ID" property="createId" jdbcType="VARCHAR"/>
        <result column="CREATE_DATE" property="createDate" jdbcType="TIMESTAMP"/>
        <result column="UPDATE_ID" property="updateId" jdbcType="VARCHAR"/>
        <result column="UPDATE_DATE" property="updateDate" jdbcType="TIMESTAMP"/>
    </resultMap>


    <sql id="Base_Column_List">
        ID,NAME,CODE,PARENT_ID,SEQ,ICON,SHOW_FLAG,URL,CHANNEL,LEAF,
        TYPE,CREATE_ID,CREATE_DATE,UPDATE_ID,UPDATE_DATE
    </sql>

    <sql id="cond">
        <where>
            <if test="id != null">
                and ID = #{id,jdbcType=VARCHAR}
            </if>
            <if test="name != null and name != ''">
                and  NAME =#{name,jdbcType=VARCHAR}
            </if>
            <if test="code != null and code != ''">
                and  CODE =#{code,jdbcType=VARCHAR}
            </if>
            <if test="parentId != null">
                and  PARENT_ID =#{parentId,jdbcType=INTEGER}
            </if>
            <if test="seq != null">
                and  SEQ =#{seq,jdbcType=INTEGER}
            </if>
            <if test="icon != null and icon != ''">
                and  ICON =#{icon,jdbcType=VARCHAR}
            </if>
            <if test="showFlag != null">
                and  SHOW_FLAG =#{showFlag,jdbcType=INTEGER}
            </if>
            <if test="url != null and url != ''">
                and  URL =#{url,jdbcType=VARCHAR}
            </if>
            <if test="channel != null">
                and  CHANNEL =#{channel,jdbcType=INTEGER}
            </if>
            <if test="leaf != null">
                and  LEAF =#{leaf,jdbcType=INTEGER}
            </if>
            <if test="type != null">
                and  TYPE =#{type,jdbcType=INTEGER}
            </if>
            <if test="createId != null and createId != ''">
                and  CREATE_ID =#{createId,jdbcType=VARCHAR}
            </if>
            <if test="createDate != null">
                and  CREATE_DATE =#{createDate,jdbcType=TIMESTAMP}
            </if>
            <if test="updateId != null and updateId != ''">
                and  UPDATE_ID =#{updateId,jdbcType=VARCHAR}
            </if>
            <if test="updateDate != null">
                and  UPDATE_DATE =#{updateDate,jdbcType=TIMESTAMP}
            </if>
        </where>
    </sql>

    <select id="list" parameterType="cn.com.xgit.parts.auth.module.menu.vo.SysAuthsVO" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from SYS_AUTHS
        <include refid="cond"/>
    </select>

    <select id="queryList" parameterType="cn.com.xgit.parts.auth.module.menu.vo.SysAuthsVO" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from SYS_AUTHS
        <include refid="cond"/>
    </select>

    <select id="queryListByIds" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from SYS_AUTHS
        where ID in
        <foreach collection="ids" item="id" open="(" separator=","  close=")">
            #{id}
        </foreach>
    </select>


    <delete id="deleteByPrimaryKeySelective" parameterType="java.lang.String">
        delete from SYS_AUTHS where ID = #{id,jdbcType=VARCHAR}
    </delete>

    <insert id="insert" parameterType="cn.com.xgit.parts.auth.account.dao.entity.sys.SysAuthsDO">
        insert into SYS_AUTHS (
        ID,NAME,CODE,PARENT_ID,SEQ,ICON,SHOW_FLAG,URL,CHANNEL,LEAF,
        TYPE,CREATE_ID,CREATE_DATE,UPDATE_ID,UPDATE_DATE
        )
        values (
         #{id,jdbcType=INTEGER},#{name,jdbcType=VARCHAR},#{code,jdbcType=VARCHAR},#{parentId,jdbcType=INTEGER},#{seq,jdbcType=INTEGER},
         #{icon,jdbcType=VARCHAR},#{showFlag,jdbcType=INTEGER},#{url,jdbcType=VARCHAR},#{channel,jdbcType=INTEGER},#{leaf,jdbcType=INTEGER},
         #{type,jdbcType=INTEGER},#{createId,jdbcType=VARCHAR},#{createDate,jdbcType=TIMESTAMP},#{updateId,jdbcType=VARCHAR},#{updateDate,jdbcType=TIMESTAMP},
    </insert>

    <update id="merge" parameterType="cn.com.xgit.parts.auth.account.dao.entity.sys.SysAuthsDO">
        merge into SYS_AUTHS t1
        using (select #{id,jdbcType=VARCHAR} as ID from dual)tab_
        ON (t1.ID=tab_.ID)
        WHEN MATCHED THEN
        update
        <set>
            <if test="name != null">
                NAME =#{name,jdbcType=VARCHAR},
            </if>
            <if test="code != null">
                CODE =#{code,jdbcType=VARCHAR},
            </if>
            <if test="parentId != null">
                PARENT_ID =#{parentId,jdbcType=INTEGER},
            </if>
            <if test="seq != null">
                SEQ =#{seq,jdbcType=INTEGER},
            </if>
            <if test="icon != null">
                ICON =#{icon,jdbcType=VARCHAR},
            </if>
            <if test="showFlag != null">
                SHOW_FLAG =#{showFlag,jdbcType=INTEGER},
            </if>
            <if test="url != null">
                URL =#{url,jdbcType=VARCHAR},
            </if>
            <if test="channel != null">
                CHANNEL =#{channel,jdbcType=INTEGER},
            </if>
            <if test="leaf != null">
                LEAF =#{leaf,jdbcType=INTEGER},
            </if>
            <if test="type != null">
                TYPE =#{type,jdbcType=INTEGER},
            </if>
            <if test="createId != null">
                CREATE_ID =#{createId,jdbcType=VARCHAR},
            </if>
            <if test="createDate != null">
                CREATE_DATE =#{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="updateId != null">
                UPDATE_ID =#{updateId,jdbcType=VARCHAR},
            </if>
            <if test="updateDate != null">
                UPDATE_DATE =#{updateDate,jdbcType=TIMESTAMP},
            </if>
        </set>
        WHEN NOT MATCHED THEN
        insert  (
        ID,NAME,CODE,PARENT_ID,SEQ,ICON,SHOW_FLAG,URL,CHANNEL,LEAF,
        TYPE,CREATE_ID,CREATE_DATE,UPDATE_ID,UPDATE_DATE
        )
        values (
        #{id,jdbcType=INTEGER},#{name,jdbcType=VARCHAR},#{code,jdbcType=VARCHAR},#{parentId,jdbcType=INTEGER},#{seq,jdbcType=INTEGER},
        #{icon,jdbcType=VARCHAR},#{showFlag,jdbcType=INTEGER},#{url,jdbcType=VARCHAR},#{channel,jdbcType=INTEGER},#{leaf,jdbcType=INTEGER},
        #{type,jdbcType=INTEGER},#{createId,jdbcType=VARCHAR},#{createDate,jdbcType=TIMESTAMP},#{updateId,jdbcType=VARCHAR},#{updateDate,jdbcType=TIMESTAMP},
        )
    </update>
    <!--todo 待验证-->
    <update id="mergeMsql" parameterType="cn.com.xgit.parts.auth.account.dao.entity.sys.SysAuthsDO">
        insert  (
        ID,NAME,CODE,PARENT_ID,SEQ,ICON,SHOW_FLAG,URL,CHANNEL,LEAF,
        TYPE,CREATE_ID,CREATE_DATE,UPDATE_ID,UPDATE_DATE
        )
        values (
        #{id,jdbcType=INTEGER},#{name,jdbcType=VARCHAR},#{code,jdbcType=VARCHAR},#{parentId,jdbcType=INTEGER},#{seq,jdbcType=INTEGER},
        #{icon,jdbcType=VARCHAR},#{showFlag,jdbcType=INTEGER},#{url,jdbcType=VARCHAR},#{channel,jdbcType=INTEGER},#{leaf,jdbcType=INTEGER},
        #{type,jdbcType=INTEGER},#{createId,jdbcType=VARCHAR},#{createDate,jdbcType=TIMESTAMP},#{updateId,jdbcType=VARCHAR},#{updateDate,jdbcType=TIMESTAMP},
        )
        ON duplicate KEY UPDATE
        <set>
            <if test="name != null">
                NAME =#{name,jdbcType=VARCHAR},
            </if>
            <if test="code != null">
                CODE =#{code,jdbcType=VARCHAR},
            </if>
            <if test="parentId != null">
                PARENT_ID =#{parentId,jdbcType=INTEGER},
            </if>
            <if test="seq != null">
                SEQ =#{seq,jdbcType=INTEGER},
            </if>
            <if test="icon != null">
                ICON =#{icon,jdbcType=VARCHAR},
            </if>
            <if test="showFlag != null">
                SHOW_FLAG =#{showFlag,jdbcType=INTEGER},
            </if>
            <if test="url != null">
                URL =#{url,jdbcType=VARCHAR},
            </if>
            <if test="channel != null">
                CHANNEL =#{channel,jdbcType=INTEGER},
            </if>
            <if test="leaf != null">
                LEAF =#{leaf,jdbcType=INTEGER},
            </if>
            <if test="type != null">
                TYPE =#{type,jdbcType=INTEGER},
            </if>
            <if test="createId != null">
                CREATE_ID =#{createId,jdbcType=VARCHAR},
            </if>
            <if test="createDate != null">
                CREATE_DATE =#{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="updateId != null">
                UPDATE_ID =#{updateId,jdbcType=VARCHAR},
            </if>
            <if test="updateDate != null">
                UPDATE_DATE =#{updateDate,jdbcType=TIMESTAMP},
            </if>
        </set>
    </update>

    <update id="updateByPrimaryKeySelective" parameterType="cn.com.xgit.parts.auth.account.dao.entity.sys.SysAuthsDO">
        update SYS_AUTHS
        <set>
            <if test="name != null">
                NAME =#{name,jdbcType=VARCHAR},
            </if>
            <if test="code != null">
                CODE =#{code,jdbcType=VARCHAR},
            </if>
            <if test="parentId != null">
                PARENT_ID =#{parentId,jdbcType=INTEGER},
            </if>
            <if test="seq != null">
                SEQ =#{seq,jdbcType=INTEGER},
            </if>
            <if test="icon != null">
                ICON =#{icon,jdbcType=VARCHAR},
            </if>
            <if test="showFlag != null">
                SHOW_FLAG =#{showFlag,jdbcType=INTEGER},
            </if>
            <if test="url != null">
                URL =#{url,jdbcType=VARCHAR},
            </if>
            <if test="channel != null">
                CHANNEL =#{channel,jdbcType=INTEGER},
            </if>
            <if test="leaf != null">
                LEAF =#{leaf,jdbcType=INTEGER},
            </if>
            <if test="type != null">
                TYPE =#{type,jdbcType=INTEGER},
            </if>
            <if test="createId != null">
                CREATE_ID =#{createId,jdbcType=VARCHAR},
            </if>
            <if test="createDate != null">
                CREATE_DATE =#{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="updateId != null">
                UPDATE_ID =#{updateId,jdbcType=VARCHAR},
            </if>
            <if test="updateDate != null">
                UPDATE_DATE =#{updateDate,jdbcType=TIMESTAMP},
            </if>
        </set>
        where ID =  #{id,jdbcType=VARCHAR}
    </update>
</mapper>
