<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.xgit.parts.auth.account.dao.mapper.sys.SysRoleMapper">
    <resultMap id="BaseResultMap" type="cn.com.xgit.parts.auth.account.dao.entity.sys.SysRoleDO">
        <result column="ID" property="id" jdbcType="VARCHAR"/>
        <result column="NAME" property="name" jdbcType="VARCHAR"/>
        <result column="REMARK" property="remark" jdbcType="VARCHAR"/>
        <result column="TYPE" property="type" jdbcType="DECIMAL"/>
        <result column="CHANNEL" property="channel" jdbcType="DECIMAL"/>
        <result column="SPACE_ID" property="spaceId" jdbcType="VARCHAR"/>
        <result column="DEPT_ID" property="deptId" jdbcType="VARCHAR"/>
        <result column="SEQ_NO" property="seqNo" jdbcType="DECIMAL"/>
    </resultMap>


    <sql id="Base_Column_List">
        ID,NAME,REMARK,TYPE,CHANNEL,SPACE_ID,DEPT_ID,SEQ_NO
    </sql>

    <sql id="cond">
        <where>
            <if test="id != null">
                and ID = #{id,jdbcType=VARCHAR}
            </if>
            <if test="name != null and name != ''">
                and NAME =#{name,jdbcType=VARCHAR}
            </if>
            <if test="remark != null and remark != ''">
                and REMARK =#{remark,jdbcType=VARCHAR}
            </if>
            <if test="type != null">
                and TYPE =#{type,jdbcType=DECIMAL}
            </if>
            <if test="channel != null">
                and CHANNEL =#{channel,jdbcType=DECIMAL}
            </if>
            <if test="spaceId != null and spaceId != ''">
                and SPACE_ID =#{spaceId,jdbcType=VARCHAR}
            </if>
            <if test="deptId != null and deptId != ''">
                and DEPT_ID =#{deptId,jdbcType=VARCHAR}
            </if>
            <if test="seqNo != null">
                and SEQ_NO =#{seqNo,jdbcType=DECIMAL}
            </if>

            <if test="idList != null and idList.size() >0">
                and ID in
                <foreach collection="idList" item="id" open="(" separator="," close=")">
                    #{id,jdbcType=VARCHAR}
                </foreach>

            </if>
        </where>
    </sql>

    <select id="list" parameterType="cn.com.xgit.parts.auth.module.menu.vo.SysRoleVO" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from SYS_ROLE
        <include refid="cond"/>
        order by SEQ_NO
    </select>

    <select id="queryList" parameterType="cn.com.xgit.parts.auth.module.menu.vo.SysRoleVO" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from SYS_ROLE
        <include refid="cond"/>
    </select>

    <select id="queryListByIds" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from SYS_ROLE
        where ID in
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id,jdbcType=VARCHAR}
        </foreach>
    </select>


    <delete id="deleteByPrimaryKeySelective" parameterType="java.lang.String">
        delete from SYS_ROLE where ID = #{id,jdbcType=VARCHAR}
    </delete>

    <insert id="insert" parameterType="cn.com.xgit.parts.auth.account.dao.entity.sys.SysRoleDO">
        insert into SYS_ROLE (
        ID,NAME,REMARK,TYPE,CHANNEL,SPACE_ID,DEPT_ID,SEQ_NO
        )
        values (
         #{id,jdbcType=VARCHAR},#{name,jdbcType=VARCHAR},#{remark,jdbcType=VARCHAR},#{type,jdbcType=DECIMAL},#{channel,jdbcType=DECIMAL},
         #{spaceId,jdbcType=VARCHAR},#{deptId,jdbcType=VARCHAR},#{seqNo,jdbcType=DECIMAL}
        )
    </insert>

    <update id="merge" parameterType="cn.com.xgit.parts.auth.account.dao.entity.sys.SysRoleDO">
        merge into SYS_ROLE t1
        using (select #{id,jdbcType=VARCHAR} as ID from dual)tab_
        ON (t1.ID=tab_.ID)
        WHEN MATCHED THEN
        update
        <set>
            <if test="name != null">
                NAME =#{name,jdbcType=VARCHAR},
            </if>
            <if test="remark != null">
                REMARK =#{remark,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                TYPE =#{type,jdbcType=DECIMAL},
            </if>
            <if test="channel != null">
                CHANNEL =#{channel,jdbcType=DECIMAL},
            </if>
            <if test="spaceId != null">
                SPACE_ID =#{spaceId,jdbcType=VARCHAR},
            </if>
            <if test="deptId != null">
                DEPT_ID =#{deptId,jdbcType=VARCHAR},
            </if>
            <if test="seqNo != null">
                SEQ_NO =#{seqNo,jdbcType=DECIMAL},
            </if>
        </set>
        WHEN NOT MATCHED THEN
        insert (
        ID,NAME,REMARK,TYPE,CHANNEL,SPACE_ID,DEPT_ID,SEQ_NO
        )
        values (
        #{id,jdbcType=VARCHAR},#{name,jdbcType=VARCHAR},#{remark,jdbcType=VARCHAR},#{type,jdbcType=DECIMAL},#{channel,jdbcType=DECIMAL},
        #{spaceId,jdbcType=VARCHAR},#{deptId,jdbcType=VARCHAR},#{seqNo,jdbcType=DECIMAL}
        )
    </update>
    <!--todo 待验证-->
    <update id="mergeMsql" parameterType="cn.com.xgit.parts.auth.account.dao.entity.sys.SysRoleDO">
        insert (
        ID,NAME,REMARK,TYPE,CHANNEL,SPACE_ID,DEPT_ID,SEQ_NO
        )
        values (
        #{id,jdbcType=VARCHAR},#{name,jdbcType=VARCHAR},#{remark,jdbcType=VARCHAR},#{type,jdbcType=DECIMAL},#{channel,jdbcType=DECIMAL},
        #{spaceId,jdbcType=VARCHAR},#{deptId,jdbcType=VARCHAR},#{seqNo,jdbcType=DECIMAL}
        )
        ON duplicate KEY UPDATE
        <set>
            <if test="name != null">
                NAME =#{name,jdbcType=VARCHAR},
            </if>
            <if test="remark != null">
                REMARK =#{remark,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                TYPE =#{type,jdbcType=DECIMAL},
            </if>
            <if test="channel != null">
                CHANNEL =#{channel,jdbcType=DECIMAL},
            </if>
            <if test="spaceId != null">
                SPACE_ID =#{spaceId,jdbcType=VARCHAR},
            </if>
            <if test="deptId != null">
                DEPT_ID =#{deptId,jdbcType=VARCHAR},
            </if>
            <if test="seqNo != null">
                SEQ_NO =#{seqNo,jdbcType=DECIMAL},
            </if>
        </set>
    </update>

    <update id="updateByPrimaryKeySelective" parameterType="cn.com.xgit.parts.auth.account.dao.entity.sys.SysRoleDO">
        update SYS_ROLE
        <set>
            <if test="name != null">
                NAME =#{name,jdbcType=VARCHAR},
            </if>
            <if test="remark != null">
                REMARK =#{remark,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                TYPE =#{type,jdbcType=DECIMAL},
            </if>
            <if test="channel != null">
                CHANNEL =#{channel,jdbcType=DECIMAL},
            </if>
            <if test="spaceId != null">
                SPACE_ID =#{spaceId,jdbcType=VARCHAR},
            </if>
            <if test="deptId != null">
                DEPT_ID =#{deptId,jdbcType=VARCHAR},
            </if>
            <if test="seqNo != null">
                SEQ_NO =#{seqNo,jdbcType=DECIMAL},
            </if>
        </set>
        where ID = #{id,jdbcType=VARCHAR}
    </update>
</mapper>
