<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.xgit.parts.auth.account.dao.mapper.sys.SysUserRolesMapper">
    <resultMap id="BaseResultMap" type="cn.com.xgit.parts.auth.account.dao.entity.sys.SysUserRolesDO">
        <result column="USER_ID" property="userId" jdbcType="VARCHAR"/>
        <result column="ROLE_ID" property="roleId" jdbcType="VARCHAR"/>
        <result column="ROLE_FLAG" property="roleFlag" jdbcType="INTEGER"/>
    </resultMap>


    <sql id="Base_Column_List">
        USER_ID,ROLE_ID,ROLE_FLAG
    </sql>

    <sql id="cond">
        <where>

            <if test="userId != null and userId != ''">
                and USER_ID =#{userId,jdbcType=VARCHAR}
            </if>
            <if test="roleId != null and roleId != ''">
                and ROLE_ID =#{roleId,jdbcType=VARCHAR}
            </if>
            <if test="roleFlag != null">
                and ROLE_FLAG =#{roleFlag,jdbcType=INTEGER}
            </if>

            <if test="userIdList != null and userIdList.size() >0">
                and ROLE_ID in
                <foreach collection="userIdList" item="roleId" open="(" separator="," close=")">
                    #{roleId,jdbcType=VARCHAR}
                </foreach>

            </if>

        </where>
    </sql>


    <select id="queryList" parameterType="cn.com.xgit.parts.auth.module.account.vo.SysUserRolesVO"
            resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from SYS_USER_ROLES
        <include refid="cond"/>
    </select>

    <delete id="deleteByUserId" parameterType="java.lang.String">
        delete from SYS_USER_ROLES where USER_ID =#{userId,jdbcType=VARCHAR}
    </delete>


    <insert id="insert" parameterType="cn.com.xgit.parts.auth.account.dao.entity.sys.SysUserRolesDO">
        insert into SYS_USER_ROLES (
        USER_ID,ROLE_ID,ROLE_FLAG
        )
        values (
         #{userId,jdbcType=VARCHAR},#{roleId,jdbcType=VARCHAR},#{roleFlag,jdbcType=INTEGER}
        )
    </insert>

    <insert id="batchInsert" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="id">
        insert into `SYS_USER_ROLES` (
        USER_ID,ROLE_ID,ROLE_FLAG
        )
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (
            #{item.userId,jdbcType=VARCHAR},#{item.roleId,jdbcType=VARCHAR},#{item.roleFlag,jdbcType=INTEGER}
            )
        </foreach>
    </insert>

</mapper>
